<div class=row>
    <div class="panel panel-default">
        <div class=panel-heading>
            <h6 class=panel-title>Bank Details</h6>
        </div>
        <div class=panel-body>
            <form method=post id=BankForm>
                <input id=BankID hidden>
                <div class=row>
                    <div class=col-md-4>
                        <div class=form-group>
                            <label>
                                <small>Name</small>
                            </label>
                            <input id=Name class="form-control input-sm" required>
                        </div>
                        <div class=form-group>
                            <label>
                                <small>Bank Code</small>
                            </label>
                            <input id=BankCode class="form-control input-sm">
                        </div>
                    </div>
                    <div class=col-md-4>
                        <div class=form-group>
                            <label>
                                <small>Account No</small>
                            </label>
                            <input id=AccountNo class="form-control input-sm" required>
                        </div>
                        <div class=form-group>
                            <label>
                                <small>Branch</small>
                            </label>
                            <input id=Branch class="form-control input-sm">
                        </div>
                    </div>
                    <div class=col-md-4>
                        <div class=form-group>
                            <label>
                                <small>Branch Code</small>
                            </label>
                            <input id=BranchCode class="form-control input-sm">
                        </div>
                        <div id=updatebank hidden>
                            <div class="btn-group pull-right">
                                <button id=btnupdatebank class="btn btn-primary btn-sm ladda-button" data-style=expand-right data-size=s>Update</button>
                                <a id=btnCreateNewBank class="btn btn-primary btn-sm">New</a>
                            </div>
                        </div>
                        <div id=addbank>
                            <button id=btnaddbank class="btn btn-primary pull-right ladda-button" data-style=expand-right data-size=s>
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <input name=__RequestVerificationToken type=hidden value=CfDJ8It5D1qqI4lBjCCzFnB6CeqgUCaEukiCsukLJfQ6cNR6-SnCMWgNeLHCDJJEbCIy9eEw0wQ7zFxM57VDxRCfwPMG0c9053NwM3kUyUZmzICa8qpLmNYaYSfnYU0JjWKI0647JqisrTfqmnZaKl5kZDzGAaxTK3FACFw41axHhKx5KF9A0kdaHAIa_P4xIKF5Jw>
            </form>
        </div>
        <div class=panel-heading>
            <h6 class=panel-title>View: Banks</h6>
        </div>
        <div class=table-responsive id=no-more-tables>
            <table class="col-md-12 table-striped table-condensed table-bordered cf compact" width=100% id=bankstable>
                <thead class=cf>
                    <tr>
                        <th>
                            <strong>Bank ID</strong>
                        <th>
                            <strong>Name</strong>
                        <th>
                            <strong>Account No</strong>
                        <th>
                            <strong>Branch</strong>
                <tbody>
            </table>
        </div>
    </div>
<div class=col-md-3></div>
                            </div>