<div class=row>
                               
                                    <div class="panel panel-default">
                                        <div class="panel-heading clearfix">
                                            <h6 class=panel-title>
                                                Cashier Shift Details
                                                <div class="btn-group pull-right">
                                                    <button class="btn btn-info btn-xs dropdown-toggle" type=button data-toggle=dropdown aria-haspopup=true aria-expanded=false>
                                                        Actions <span class=caret></span>
                                                    </button>
                                                    <ul class=dropdown-menu>
                                                        <li>
                                                            <a href=javascript:EndShift()>End Shift</a>
                                                        <li>
                                                            <a href=javascript:ShiftReceipts()>Shift Receipts</a>
                                                        <li role=separator class=divider>
                                                        <li>
                                                            <a href=javascript:ShiftReport()>Cashier Shift Summary Report</a>
                                                        <li>
                                                            <a href=javascript:ShiftReceiptsReport()>Cashier Shift(s) Receipts Summary Report</a>
                                                    </ul>
                                                </div>
                                            </h6>
                                        </div>
                                        <div class=panel-body>
                                            <form method=post id=PageForm>
                                                <input name=__RequestVerificationToken type=hidden value=CfDJ8It5D1qqI4lBjCCzFnB6Ceq4UvuevU95o8FP_9Kd1Ys4u29-QnVO8Yt9mvccVE4L7zzyL6rtCiwTb0Mk5GvArjxLQTxyz0zbC96u5NBxVWj4QioPxItFSPgZOLgoRmlSidM9OW0lp0YgiRa55sRis_GUFv0-Axh92hgrojFVbDvKibFjb77yv_9IWUB87rbFzw>
                                            </form>
                                            <div class=row>
                                                <div class=col-sm-4>
                                                    <div class="row no-gutter">
                                                        <div class=col-sm-6>
                                                            <label>
                                                                <small>Shift ID: </small>
                                                            </label>
                                                        </div>
                                                        <div class=col-sm-6>
                                                            <small>
                                                                <span class=text-info id=txtshiftid></span>
                                                            </small>
                                                        </div>
                                                    </div>
                                                    <div class="row no-gutter">
                                                        <div class=col-sm-6>
                                                            <label>
                                                                <small>User: </small>
                                                            </label>
                                                        </div>
                                                        <div class=col-sm-6>
                                                            <small>
                                                                <span class=text-info id=txtuser></span>
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=col-sm-4>
                                                    <div class="row no-gutter">
                                                        <div class=col-sm-5>
                                                            <label>
                                                                <small>Beginning: </small>
                                                            </label>
                                                        </div>
                                                        <div class=col-sm-7>
                                                            <small>
                                                                <span class=text-info id=txtBeginning></span>
                                                            </small>
                                                        </div>
                                                    </div>
                                                    <div class="row no-gutter">
                                                        <div class=col-sm-5>
                                                            <label>
                                                                <small>Ending: </small>
                                                            </label>
                                                        </div>
                                                        <div class=col-sm-7>
                                                            <small>
                                                                <span class=text-info id=txtEnding></span>
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=col-sm-4>
                                                    <div class="row no-gutter">
                                                        <div class=col-sm-5>
                                                            <label>
                                                                <small>Opening Balance: </small>
                                                            </label>
                                                        </div>
                                                        <div class=col-sm-7>
                                                            <small>
                                                                <span class=text-info id=txtOpeningBal></span>
                                                            </small>
                                                        </div>
                                                    </div>
                                                    <div class="row no-gutter">
                                                        <div class=col-sm-5>
                                                            <label>
                                                                <small>Status: </small>
                                                            </label>
                                                        </div>
                                                        <div class=col-sm-7>
                                                            <small>
                                                                <span class=text-info id=txtStatus></span>
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=panel-heading>
                                            <h6 class=panel-title>View: Shifts</h6>
                                        </div>
                                        <div class=table-responsive id=no-more-tables>
                                            <table class="col-md-12 table-striped table-condensed table-bordered cf compact" width=100% id=shiftstable>
                                                <thead class=cf>
                                                    <tr>
                                                        <th>
                                                            <input class=selectAll name=select_all value=1 type=checkbox>
                                                            <th>
                                                                <strong>Shift ID</strong>
                                                            <th>
                                                                <strong>Beginning Date Time</strong>
                                                            <th>
                                                                <strong>Ending Date Time</strong>
                                                            <th>
                                                                <strong>User</strong>
                                                                <tbody>
                                            </table>
                                        </div>
                                        <div class=panel-footer>
                                            <div class=row>
                                                <div class=col-md-12>
                                                    <form class=form-inline method=post id=FilterForm>
                                                        <div class=form-group>
                                                            <label for=flag>View</label>
                                                            <select class="form-control input-sm" id=flag>
                                                                <option value=1>My Active Shift</option>
                                                                <option value=2>My Inactive Shifts</option>
                                                                <option value=3>All Active Shifts</option>
                                                                <option value=4>All Inactive Shifts</option>
                                                            </select>
                                                        </div>
                                                        <div class=form-group>
                                                            <label for=from>From</label>
                                                            <input type=date class="form-control input-sm" id=dateFrom>
                                                        </div>
                                                        <div class=form-group>
                                                            <label for=to>To</label>
                                                            <input type=date class="form-control input-sm" id=dateTo>
                                                        </div>
                                                        <button class="btn btn-info btn-xs" id=btnfiltershifts>View</button>
                                                        <input name=__RequestVerificationToken type=hidden value=CfDJ8It5D1qqI4lBjCCzFnB6Ceq4UvuevU95o8FP_9Kd1Ys4u29-QnVO8Yt9mvccVE4L7zzyL6rtCiwTb0Mk5GvArjxLQTxyz0zbC96u5NBxVWj4QioPxItFSPgZOLgoRmlSidM9OW0lp0YgiRa55sRis_GUFv0-Axh92hgrojFVbDvKibFjb77yv_9IWUB87rbFzw>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <div class=col-md-2></div>
                            </div>