<div class=row>
                                    <div class="panel panel-default">
                                        <div class="panel-heading clearfix">
                                            <h6 class=panel-title>
                                                Payment Mode Details
                                                <div class="btn-group pull-right">
                                                    <button class="btn btn-info btn-xs dropdown-toggle" type=button data-toggle=dropdown aria-haspopup=true aria-expanded=false>
                                                        Actions <span class=caret></span>
                                                    </button>
                                                    <ul class=dropdown-menu>
                                                        <li>
                                                            <a href=javascript:PaymentModeSelectionLevels()>Payment Mode Selection Levels</a>
                                                    </ul>
                                                </div>
                                            </h6>
                                        </div>
                                        <div class=panel-body>
                                            <form method=post id=PaymentModeForm>
                                                <div class=row>
                                                    <div class=col-sm-4>
                                                        <input id=PaymentModeID hidden>
                                                        <div class=form-group>
                                                            <label>
                                                                <small>Name</small>
                                                            </label>
                                                            <input id=Name class="form-control input-sm" required>
                                                        </div>
                                                        <div class=form-group>
                                                            <label>
                                                                <small>Sub Account</small>
                                                            </label>
                                                            <select class="form-control input-sm" id=SubAccountID required></select>
                                                        </div>
                                                    </div>
                                                    <div class=col-sm-4>
                                                        <div class=form-group>
                                                            <label class=control-label>
                                                                <small>Payment Mode Category</small>
                                                            </label>
                                                            <div class=input-group>
                                                                <select id=PaymentModeCategoryID class="form-control input-sm" required></select>
                                                                <span class=input-group-btn>
                                                                    <a title="Add payment mode category" class="btn btn-link btn-sm" data-toggle=modal data-target=.add-category-modal>
                                                                        <span class="glyphicon glyphicon-plus"></span>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class=form-group>
                                                            <label>
                                                                <small>API</small>
                                                            </label>
                                                            <select class="form-control input-sm" id=API required>
                                                                <option value=0>None</option>
                                                                <option value=1>MPESA STK Push</option>
                                                                <option value=2>IPay</option>
                                                                <option value=3>MPESA C2B</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class=col-sm-4>
                                                        <div class=form-group>
                                                            <label>
                                                                <small>Selection Level</small>
                                                            </label>
                                                            <select class="form-control input-sm" style=width:100% id=PaymentModePaymentModeSelectionLevelID>
                                                                <option></option>
                                                            </select>
                                                        </div>
                                                        <div class=form-group>
                                                            <div class=col-md-6>
                                                                <div class=checkbox>
                                                                    <label class=checkbox>
                                                                        <input type=checkbox id=IsDefault>Is Default 
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class=col-md-6>
                                                                <div class=checkbox>
                                                                    <label class=checkbox>
                                                                        <input type=checkbox id=CanBeReceived>Can Be Received 
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id=update hidden>
                                                            <div class="btn-group btn-group-xs pull-right">
                                                                <button id=btnupdatemode class="btn btn-primary ladda-button" data-style=expand-right data-size=s>Update</button>
                                                                <a id=btnCreateMode class="btn btn-primary">New</a>
                                                            </div>
                                                        </div>
                                                        <div id=addmode>
                                                            <button id=btnaddmode class="btn btn-primary btn-xs pull-right ladda-button" data-style=expand-right data-size=s>
                                                                <span class="glyphicon glyphicon-plus"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input name=__RequestVerificationToken type=hidden value=CfDJ8It5D1qqI4lBjCCzFnB6CerJ1UskZI370vy-KI4OI2AGE36lxs9x2j-xtCNg6L2H9bPPtCxvjdlT6o5l-xrt7SkXk07U8SFSviKMaSX4st6US3Pvw8mjGlbB22mDacvOW0xynNOf52uwtnoYSNep35LO8vqhnf-PczUgcopcE8i4n7pnpsf8IuNKDeWWyTiSMQ>
                                            </form>
                                        </div>
                                        <div class=panel-heading>
                                            <h6 class=panel-title>View: Payment Modes</h6>
                                        </div>
                                        <div class=table-responsive id=no-more-tables>
                                            <table class="col-md-12 table-striped table-condensed table-bordered cf compact" width=100% id=paymentmodestable>
                                                <thead class=cf>
                                                    <tr>
                                                        <th>
                                                            <strong>No</strong>
                                                        <th>
                                                            <strong>Name</strong>
                                                        <th>
                                                            <strong>Sub Account</strong>
                                                        <th>
                                                            <strong>Category</strong>
                                                        <th>
                                                            <strong>Is Default</strong>
                                                        <th>
                                                            <strong>Can Be Received</strong>
                                                            <tbody>
                                            </table>
                                        </div>
                                    </div>
                            </div>