<div cass="modal fade begin-cashier-shift-modal" tabindex=-1 role=dialog aria-labelledby=myModalLabel data-keyboard=false data-backdrop=static>
<div class="modal-dialog modal-sm" role=document>
    <div class=modal-content>
        <div class=modal-header>
            <h4 class=modal-title id=myModalLabel>
                <strong>
                    <small>Begin Cashier Shift</small>
                </strong>
            </h4>
        </div>
        <div class=modal-body>
            <div class=row>
                <div class=col-md-12>
                    <p>
                        You are required to have an active cashier shift:
                        <dl class=dl-horizontal>
                            <dt>Active Shift:
                            <dd>
                                <div class=text-info id=divActiveCashierShift></div>
                        </dl>
                        <div class="btn-group btn-group-xs pull-right">
                            <button type=button id=btnBeginCashierShiftIgnore class="btn btn-warning">Ignore</button>
                            <button type=button id=btnBeginCashierShift class="btn btn-primary ladda-button" data-style=expand-right data-size=s disabled>Begin Cashier Shift</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
            </div>